<div class="maintext">Why choose us</div>
<div class="mainsubtext">We pride ourselves in being considered one of the best companies to work with by translators. We pay them rapidly and fairly, wherever they are in the world.</div>

<div class="block1"></div>
<img class="img1" src="../../../assets/who_choouse/icon (2).svg" alt="">
<div class="text1">Guaranteed Quality</div>
<div class="subtext1">
    <p>We support the world’s best translators with advanced quality assurance processes.</p>
    <p>And that’s not all: we provide a free comprehensive translation review if you happen</p>  
    <p>to be unsatisfied.</p>    
</div>
<a [routerLink]="['/terms']" class="link1">Read our terms</a>

<div class="block2"></div>
<img class="img2" src="../../../assets/who_choouse/icon (3).svg" alt="">
<div class="text2">On-Time Delivery</div>
<div class="subtext2">We offer the best performance levels in the industry, with an optimized workflow that guarantees over 95% of deliveries on time. Plus, in the unlikely event we miss a deadline, we will refund the translation up to its full cost.</div>
<a [routerLink]="['/terms']" class="link2">Read our terms</a>

<div class="block3"></div>
<img class="img3" src="../../../assets/who_choouse/icon (4).svg" alt="">
<div class="text3">Pay After Delivery</div>
<div class="subtext3">We genuinely trust our clients, which is why we have created the Pay After Delivery model. With Pay After Delivery, you can pay within five days of the translation’s delivery via credit card, bank transfer or Paypal.</div>
<a [routerLink]="['/terms']" class="link3">Read our terms</a>
