<div class="whychoose_section">
    <div class="naming_section">
        <h2 class="title_whychoose">Why choose us</h2>
        <p class="description_whychoose">We pride ourselves in being considered one of the best companies to work with
            by translators. We pay them rapidly and fairly, wherever they are in the world.</p>
    </div>

    <div class="content_section">
        <div class="card_whychoose">
            <img class="card_icon" src="../../../assets/who_choouse/icon (2).svg" alt="">
            <div class="card_description">
                <div class="card_text">Guaranteed Quality</div>
                <p class="card_subtext">
                    We support the world’s best translators with advanced quality assurance processes.
                    And that’s not all: we provide a free comprehensive translation review if you happen
                    to be unsatisfied.
                </p>
                <a [routerLink]="['/terms']" class="card_link">Read our terms</a>
            </div>
        </div>

        <div class="card_whychoose">
            <img class="card_icon" src="../../../assets/who_choouse/icon (3).svg" alt="">
            <div class="card_description">
                <div class="card_text">On-Time Delivery</div>
                <div class="card_subtext">We offer the best performance levels in the industry, with an optimized
                    workflow that guarantees
                    over 95% of deliveries on time. Plus, in the unlikely event we miss a deadline, we will refund the
                    translation up to
                    its full cost.</div>
                <a [routerLink]="['/terms']" class="card_link">Read our terms</a>
            </div>
        </div>

        <div class="card_whychoose">
            <img class="card_icon" src="../../../assets/who_choouse/icon (4).svg" alt="">
            <div class="card_description">
                <div class="card_text">Pay After Delivery</div>
                <p class="card_subtext">We genuinely trust our clients, which is why we have created the Pay After Delivery
                    model. With Pay After Delivery, you can pay within five days of the translation’s delivery via
                    credit card, bank transfer or Paypal.</p>
                <a [routerLink]="['/terms']" class="card_link">Read our terms</a>
            </div>
        </div>
    </div>
</div>