<app-header></app-header>

<div class="main_content" *ngIf="quote">
        <h1 class="maintext">Professional translations in a few clicks</h1>
        <p class="subtext">The easy way to get your documents translated fast. Simple, accurate, secure.</p>
</div>

<div *ngIf="!quote">
    <div class="urgent_maintext">
        Urgent professional translations
    </div>
    <div class="urgent_subtext">
        <p>The easy way to get your documents translated fast.</p>
        <p>Simple, accurate, secure.</p>
    </div>
</div>



<div class="calculate">
    <!-- <div *ngIf="!submitted" class="block"></div> -->
    <!-- <div *ngIf="submitted" class="block_res"></div> -->
    <!-- <div *ngIf="loading" class="block_load"></div> -->


    <div class="calculate_item">
        <div class="label_item">From</div>
        <select class="box_item" [(ngModel)]="from" name="from" id="from">
            <option *ngFor="let lang of languages_code_list;" value="{{ lang }}">{{ lang }}</option>
        </select>
        <img class="arrow_item" src="../../assets/arrow.svg">
    </div>

    <div class="calculate_item">
        <div class="label_item">To</div>
        <div class="to_drop">
            <div (click)="openDropdown()" id="dropdown">
                <label class="selected-item" [(ngModel)]="valueCheckbox" [innerHTML]="valueCheckbox"
                    id="selected-item"></label>
                <span id="dropdown-arrow" [style.margin]="!arrowCheckbox ? '20px 24px': '25px 24px'"
                    [style.transform]="!arrowCheckbox ? 'rotate(45deg)': 'rotate(225deg)'"></span>
            </div>
            <form [formGroup]="formOrder" novalidate id="dropdown-menu" [ngClass]="{'close' : closeDropdown === false}">
                <div>
                    <input (input)="onSearchInputChange($event)" id="dropdown-search" type="text" name="search"
                        placeholder="Search">
                </div>
                <div id="dropdown-list">
                    <label *ngFor="let data of languages_code_list; let i=index" class="dropdown-item">
                        <input (change)="onCheckboxChange($event)" [value]="data" type="checkbox"
                            class="custom-checkbox">
                        {{data}}
                    </label>
                </div>
            </form>
        </div>
    </div>

    <div class="calculate_item">
        <div class="label_item">Word count</div>
        <input class="box_item" [(ngModel)]="word" value="1000" type="number" size="7" max="1000000" maxlength="7"
            (keydown)="onKeydown($event)">

        <div *ngIf="!orderServ.fileName">
            <div class="line"></div>
            <div class="or">or</div>

            <img class="upload" src="../../assets/upload files.svg" alt="">
            <a class="upload_btn" type="file" (click)="UploudModOpen()" (change)="changeListener($event)"></a>

        </div>

        <div *ngIf="orderServ.fileName">
            <div class="order_line"></div>
            <img class="order_img" src="../../assets/quote/attach-paperclip-symbol(2) 1.svg" alt="">
            <div class="order_file_count">{{ fileCountStr }}</div>
            <a class="order_edit" type="file" (click)="UploudModOpen()" (change)="changeListener($event)">Edit</a>
        </div>
    </div>

    <div class="calculate_item">
        <div class="label_item">Subject</div>

        <select class="box_item" [(ngModel)]="subject" name="subject" id="subject">
            <option class="subject" *ngFor="let subject of specializations_code_list;" value="{{ subject }}">{{ subject
                }}</option>
        </select>
        <img class="arrow_item" src="../../assets/arrow.svg">
    </div>

    <div class="calculate_item">
        <div class="label_item">Delivery date</div>
        <input class="box_item" [(ngModel)]="delivery" (click)="DateModOpen()" value="Auto (Best price)" type="text">
        <img class="arrow_item" src="../../assets/schedule.png" alt="">
    </div>

    <div class="show_button">
        <button class="show" [class.white]="submitted" (click)="submitLoad()">{{ btn_text }}</button>
    </div>


    <div class="pay_item">
        <div class="pay">Pay after delivery</div>
        <div class="terms">
            <p><span class="bold">We trust you:</span> feel free to pay within 5 days from delivery via bank
                transfer, credit card, or PayPal. <a href="https://gettranslation.io/faq#payments" class="link"> Learn
                    more</a></p>
        </div>
    </div>

    <div class="loading_container" *ngIf="loading">
        <span class="sr-only loader" id="loading"></span>
        <div class="spinner">
            <div class="spinner__circle">
                <div class="spinner__circle-gradient"></div>

                <div class="spinner__circle-inner"></div>
            </div>
        </div>
        <div class="choose_load">Choosing the best available translator</div>
    </div>

    <div class="submitted_container" *ngIf="submitted">
        <div class="choose">Choose your solution</div>
        <div class="flex_submitted_container">
            <div class="suggested_card">
                <div class="title_card">Premium</div>
                <div class="points_of_card">
                    <div class="point_item">
                        <img class="point_img" src="../../assets/quote/user(6) 1.svg" alt="">
                        <p>Translator</p>
                    </div>
                    <div class="point_item">
                        <img class="point_img" src="../../assets/quote/user(7) 1.svg" alt="">
                        <p>Specialized Reviser</p>
                    </div>
                    <div class="point_item">
                        <img class="point_img" src="../../assets/quote/quality 1.svg" alt="">
                        <p>Quality control</p>
                    </div>
                </div>
                <div class="delivery_label">delivery guaranteed by</div>

                <!--- TODO(dan): Sync up the time based on IP data-->
                <div class="date_item">{{ date1s }} {{ timezone }}</div>

                <div class="needfast_item" (click)="DateModOpen()">Need it faster?</div>
                <div class="price_label">€{{ price1 }}</div>
                <div class="about_label">about €0,15 / word</div>

                <button class="submit_order" (click)="order('Premium')">Order</button>
                <div class="position_detail">
                    <div class="detail_container" *ngIf="detail1">
                        <p class="detail_text">
                            Translation by a native professional translator. Full revision by a second native
                            professional
                            translator. Final quality control by a dedicated project manager. Translation memory and
                            glossary
                            included upon request. High-quality translation for publication purposes.
                        </p>
                    </div>
                    <a class="moredetails_item" (mouseover)="detail1=true" (mouseout)="detail1=false">More details</a>
                </div>

            </div>

            <div class="suggested_card">
                <img class="tag_image" src="../../assets/quote/Rectangle 60.svg" alt="">
                <div class="tag_card">Best Seller</div>
                <div class="title_card">Professional</div>
                <div class="points_of_card">
                    <div class="point_item">
                        <img class="point_img" src="../../assets/quote/user(6) 1.svg" alt="">
                        <p>Translator</p>
                    </div>
                    <div class="point_item">
                        <img class="point_img" src="../../assets/quote/quality 1.svg" alt="">
                        <p>Quality control</p>
                    </div>
                    <div class="point_item">
                        <p></p>
                    </div>
                </div>
                <div class="delivery_label">delivery guaranteed by</div>

                <!--- TODO(dan): Sync up the time based on IP data-->
                <div class="date_item">{{ date2s }} {{ timezone }}</div>

                <div class="needfast_item" (click)="DateModOpen()">Need it faster?</div>
                <div class="price_label">€{{ price2 }}</div>
                <div class="about_label">about €0,10 / word</div>

                <button class="submit_order" (click)="order('Professional')">Order</button>
                <div class="position_detail">
                    <div class="detail_container" *ngIf="detail2">
                        <p class="detail_text">
                            Translation by a native professional translator. Quality evaluation by a second
                            native professional translator. Final quality control by a dedicated project manager.
                            Translation memory included upon request. Professional translation
                            for standard projects.
                        </p>
                    </div>
                    <a class="moredetails_item" (mouseover)="detail2=true" (mouseout)="detail2=false">More details</a>
                </div>
            </div>

            <div class="suggested_card">
                <div class="title_card">Basic</div>
                <div class="points_of_card">
                    <div class="point_item">
                        <img class="point_img" src="../../assets/quote/flash 1.svg" alt="">
                        <p>Machine translation</p>
                    </div>
                    <div class="point_item">
                        <img class="point_img" src="../../assets/quote/user(6) 1.svg" alt="">
                        <p>Light review</p>
                    </div>
                </div>

                <div class="delivery_label">delivery guaranteed by</div>

                <!--- TODO(dan): Sync up the time based on IP data-->
                <div class="date_item">{{ date3s }} {{ timezone }}</div>

                <div class="needfast_item" (click)="DateModOpen()">Need it faster?</div>
                <div class="price_label">€{{ price3 }}</div>
                <div class="about_label">about €0,04 / word</div>

                <button class="submit_order" (click)="order('Basic')">Order</button>
                <div class="position_detail">
                    <div class="detail_container" *ngIf="detail3">
                        <p class="detail_text">
                            Light edit of a machine generated translation by a native professional translator
                            to remove the most serious errors only. Not available for scanned PDFs and images. Valuable
                            translation for understanding or personal use.
                            Not suitable for publication purposes.
                        </p>
                    </div>
                    <a class="moredetails_item" (mouseover)="detail3=true" (mouseout)="detail3=false">More details</a>
                </div>
            </div>
        </div>
    </div>

</div>
<div class="liza">
    <div class="liza_information">
        <img class="liza_photo" src="../../assets/Ellipse 9.png" alt="">
        <div class="liza_introduce">
            <p class="liza_maintext">Hello, I'm Lisa. How can I help you?</p>
            <p class="liza_mainsubtext"><span class="bold">Lisa </span>- Senior Account Manager</p>
        </div>
    </div>
    <div class="liza_additional">
    <div class="liza_question">
        <p class="liza_maintext">Have a large project? Get in touch.</p>
        <p class="liza_mainsubtext">We will help you get a quote for complex documents, PDFs, websites, software,
            and
            more.</p>

    </div>
    <button [routerLink]="['/contact']" class="liza_btn">Contact us</button>
    </div>
</div>

<div *ngIf="quote">
    <app-why-choouse *ngIf="!submitted" class="why_choose"></app-why-choouse>
    <app-logo-block class="logo_block"></app-logo-block>
    <app-our-clients class="our_clients"></app-our-clients>
    <app-key-benefits class="key_benefits"></app-key-benefits>
    <app-our-professional class="our_professional"></app-our-professional>
    <app-embrace class="embrace"></app-embrace>
    <app-more class="more"></app-more>

    <app-footer class="footer"></app-footer>
    <div class="space"></div>
</div>

<div *ngIf="!quote">
    <app-why-choouse *ngIf="!submitted" class="urgent_why_choose"></app-why-choouse>
    <app-logo-block class="urgent_logo_block"></app-logo-block>
    <app-embrace class="urgent_embrace"></app-embrace>
    <app-more class="urgent_more"></app-more>
    <app-instant class="urgent_instant"></app-instant>
    <app-footer class="urgent_footer"></app-footer>
    <div class="urgent_space"></div>
</div>

<div *ngIf="upload_mod" class="upload_mod"
    [ngClass]="{'upload_mod_ok': upload_mod_status =='OK' || upload_mod_status =='IN_PROCESS', 'upload_mod_error': upload_mod_status =='ERROR'}">
    <a (click)="UploudModClose()">
        <img class="upload_mod_close" src="../../assets/close.svg" alt="">
    </a>

    <div class="upload_mod_text">Word count tool</div>

    <div *ngIf="upload_mod_status == 'OK' || upload_mod_status == 'ERROR'" class="upload_mod_status">
        <div class="flex">
            <div class="upload_mod_status_name">{{ orderServ.fileName }}</div>
            <a (click)="deleteFile()" class="upload_mod_status_delete">
                <img src="../../assets/Frame 38.svg" alt="">
            </a>
        </div>
        <div class="upload_mod_status_word">({{ word }} words)</div>
    </div>

    <div *ngIf="upload_mod_status == 'IN_PROCESS'" class="upload_mod_status">
        <div class="flex">
            <div class="upload_mod_status_name_process">{{ orderServ.fileName }}</div>
            <!-- <a (click)="deleteFile()" class="upload_mod_status_delete">
                <img  src="../../assets/Frame 38.svg" alt="">
            </a> -->
        </div>
        <div class="upload_mod_status_word_process">Counting...</div>
    </div>

    <div *ngIf="upload_mod_status == 'ERROR'">
        <div class="upload_mod_status_error">Unfortunately we could not count the words for this file.</div>
        <div class="upload_mod_status_please">Please insert the estimated word count:</div>
        <input class="upload_mod_status_input" [(ngModel)]="word" value="1000" type="number" size="7" max="1000000"
            maxlength="7" (keydown)="onKeydown($event)">
        <div class="upload_mod_status_contact"><a [routerLink]="['/contact']" class="link">Contact us</a> if you wish us
            to count words for you.</div>
    </div>

    <div>
        <img class="upload_mod_img"
            [ngClass]="{'upload_mod_img_ok': upload_mod_status =='OK' || upload_mod_status =='IN_PROCESS', 'upload_mod_img_error': upload_mod_status =='ERROR'}"
            src="../../assets/Group 230 (1).svg" alt="">
        <input class="upload_mod_btn"
            [ngClass]="{'upload_mod_btn_ok': upload_mod_status =='OK' || upload_mod_status =='IN_PROCESS', 'upload_mod_btn_error': upload_mod_status =='ERROR'}"
            type="file" (change)="changeListener($event)">
    </div>

    <button (click)="UploudModClose()"
        [ngClass]="{'upload_mod_done_ok': upload_mod_status =='OK' || upload_mod_status =='IN_PROCESS', 'upload_mod_done_error': upload_mod_status =='ERROR'}"
        class="upload_mod_done">Done</button>

    <div *ngIf="upload_mod_status == 'IN_PROCESS'" class="loader-line"></div>
    <!-- <span *ngIf="upload_mod_status == 'IN_PROCESS'" class="sr-only loading"  id="loading"></span> -->
</div>

<div *ngIf="date_mod" class="date_mod">
    <a (click)="DateModClose()">
        <img class="upload_mod_close" src="../../assets/close.svg" alt="">
    </a>
    <div class="date_mod_text">Select the delivery date</div>
    <div class="date_mod_block1" [ngClass]="{'date_mod_block1_st2': delivery_mod=='Delivery guaranteed by'}"></div>
    <input [(ngModel)]="delivery_mod" class="date_mod_rad1" type="radio" id="auto" name="delivery"
        value="Auto (best price)" checked>


    <label class="date_mod_l1" for="auto">Auto (best price)</label>

    <div class="date_mod_block2" [ngClass]="{'date_mod_block2_st2': delivery_mod=='Delivery guaranteed by'}"></div>
    <input [(ngModel)]="delivery_mod" class="date_mod_rad2" type="radio" id="guaranteed" name="delivery"
        value="Delivery guaranteed by">
    <label class="date_mod_l2" for="guaranteed">Delivery guaranteed by</label>

    <input [(ngModel)]="mod_date" class="mod_date" type="date" id="start" name="trip-start"
        [ngClass]="{'date_mod_block1_st2': delivery_mod=='Delivery guaranteed by'}">
    <img class="mod_date_arrow" src="../../assets/arrow.svg">

    <input [(ngModel)]="mod_time" class="mod_time" type="time" id="appt" name="appt"
        [ngClass]="{'date_mod_block1_st2': delivery_mod=='Delivery guaranteed by'}">
    <img class="mod_time_arrow" src="../../assets/arrow.svg">
    <!-- <input type="date" id="start" name="trip-start"
            value="2018-07-22"
            min="2018-01-01" max="2018-12-31"> -->

    <select [(ngModel)]="mod_type" class="mod_type" name="type" id="type"
        [ngClass]="{'date_mod_block1_st2': delivery_mod=='Delivery guaranteed by'}">
        <option value="EET">(EET) Eastern European Time</option>
        <option value="CET" selected>(CET) Central European Time</option>
    </select>
    <img class="mod_type_arrow" src="../../assets/arrow.svg">

    <button (click)="DateModClose()" class="date_mod_done">Done</button>

</div>


<div (click)="allModalClose()" [ngClass]="{'popup-fade': upload_mod || date_mod }"></div>
<div (click)="allModalClose()" [ngClass]="{'popup': closeDropdown }"></div>