<div class="flex">
    <div class="flex-column">
        <div class="text">{{ 'home.more_text' | translate }}</div>
         <div class="subtext">{{ 'home.more_subtext' | translate }}</div>
         <button [routerLink]="['/contact']" class="btn">{{ 'home.more_btn' | translate }}</button>
    </div>

    <div class="block">
        <img class="img" src="../../assets/Ellipse 9.png" alt="">
        <div class="flex-mob">
            <div class="img_text">{{ 'home.more_img_text' | translate }}</div>
            <div class="img_subtext"><span class="bold">{{ 'home.more_bold' | translate }}</span>{{ 'home.more_img_subtext' | translate }}</div>  
        </div>
    </div>
</div>