.flex {
    width: 1152px;
    height: auto;
    margin-top: 168px;
    background: #ECEDFC;
    border-radius: 14px;
    align-items: center;
    padding: 88px 74px;
    box-sizing: border-box;
}

.block {
    margin-left: 0;
}

.text {
    width: 500px;
    font-family: 'Nexa Heavy';
    font-size: 40px;
    line-height: 48px;
}

.subtext {
    width: 443px;
    font-family: 'Nexa Book';
    font-size: 16px;
    line-height: 22px;
    margin-top: 12px;
    margin-left: 0;
}

.instant_btn {
    height: 58px;
    width: auto;
    padding: 0 63.5px;
    background: #4247E5;
    border-radius: 14px; 
    font-family: 'Nexa XBold';
    font-size: 18px;
    line-height: 26px;

    color: #FFFFFF;
    border: none;
    margin: 0;
}

.instant_btn:hover {
    background: #3135CD;
}

@media (max-width: 430px) {
    * { 
        max-width: 327px;
        margin: 0 auto;
    }

    .flex {
        height: auto;
        width: 327px;
        margin-top: 144px;
        flex-wrap: wrap;
        justify-content: center;
        padding: 48px 0;
    }

    .block {
        margin: 0;
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .text {
        font-size: 28px;
        line-height: 36px;
        margin: 0;
    }

    .subtext { 
        width: 283px;
        font-size: 14px;
        line-height: 20px;
        margin: auto;
        margin-top: 6px;
    }

    .instant_btn {
        width: 283px;
        margin: 0;
        margin-top: 16px;
    }

}