:host {display: block;}
.logo_block {
    position: absolute;
    top: 1229px;
    width: 1152px;
    height: 104px;
    left: 224px;


    left:50%; 
    margin-left:-576px
}

.our_clients {
    top: 1501px;
    position: absolute;
    width: 1152px;
    height: 402px;
    left: 224px;
    overflow: unset; 

    left:50%; 
    margin-left:-576px
}

.our_professional {

    position: absolute;
    width: 1152px;
    height: 1246px;
    left: 224px;
    top: 2071px;

    overflow: unset;
    left:50%; 
    margin-left:-576px
}

.key_benefits {
    position: absolute;
    width: 1152px;
    height: 540px;
    left: 224px;
    top: 3485px;

    overflow: unset;
    left:50%; 
    margin-left:-576px
}

.embrace {
    overflow: unset;
    position: absolute;
    width: 1040px;
    height: 420px;
    left: 224px;
    top: 4193px;

    left:50%; 
    margin-left:-576px
}

.instant {
    position: absolute;
    top: 5157px;
    width: 1152px;
    height: 280px;
    left: 224px;

    left:50%; 
    margin-left:-576px
}

.more {
    overflow: unset;
    height: 208px;
width: 1035px;
left: 224px;
top: 4781px;
border-radius: 0px;

position: absolute;
width: 1035px;
height: 208px;
left: 224px;
top: 4781px;

left:50%; 
margin-left:-576px
}

.footer{
    overflow: unset;
    position: absolute;
    width: 1152px;
    height: 150px;
    left: 224px;
    top: 5805px;

    left:50%; 
    margin-left:-576px
}

.space {
    position: absolute;
    width: 1152px;
    height: 32px;
    left: 224px;
    top: 5755px;
    left:50%; 
    margin-left:-576px
}
