@import '../../responsive.scss';

:host {display: block;}
.logo_block {
    display: flex;
    max-width: 1168px;
    margin: 0 auto 140px;
    @include desktop-down{
        margin: 0 64px 140px;
    }    
    @include tablet-landscape-down{
        margin: 0 48px 120px;
    }
    @include tablet-portrait-down{
        margin: 0 32px 120px;
    }
}

.our_clients {
    display: flex;
    max-width: 1168px;
    margin: 0 auto 140px;
    @include desktop-down{
        margin: 0 64px 140px;
    }    
    @include tablet-landscape-down{
        margin: 0 48px 120px;
    }
    @include tablet-portrait-down{
        margin: 0 32px 120px;
    }
}

.our_professional {

    position: absolute;
    width: 1152px;
    height: 1246px;
    left: 224px;
    top: 2071px;

    overflow: unset;
    left:50%; 
    margin-left:-576px
}

.key_benefits {
    display: flex;
    max-width: 1168px;
    margin: 0 auto 140px;
    @include desktop-down{
        margin: 0 64px 140px;
    }    
    @include tablet-landscape-down{
        margin: 0 48px 120px;
    }
    @include tablet-portrait-down{
        margin: 0 32px 120px;
    }
}

.embrace {
    display: flex;
}

.instant {
    position: absolute;
    top: 5157px;
    width: 1152px;
    height: 280px;
    left: 224px;

    left:50%; 
    margin-left:-576px
}

.more {
    display: flex;
    max-width: 1168px;
    margin: 0 auto 140px;
    @include desktop-down{
        margin: 0 64px 140px;
    }    
    @include tablet-landscape-down{
        margin: 0 48px 120px;
    }
    @include tablet-portrait-down{
        margin: 0 32px 120px;
    }
}

.footer{
    overflow: unset;
    position: absolute;
    width: 1152px;
    height: 150px;
    left: 224px;
    top: 5805px;

    left:50%; 
    margin-left:-576px
}